@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

.content {
  display: grid;
  flex-flow: row wrap;
  width: 100%;
}

.albums-content {
  padding: 15px;
}

@media (max-width: 1024px) {
  .albums-content {
    width: 100%;
  }

  .albums-content {
    width: 100%;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .albums-content {
    padding-right: 0;
  }
}

.album-tracks {
  width: 100%;
}

table {
  border-collapse: collapse;
}

thead {
  color: #aaa;
  height: 42px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}

td {
  border-top: 1px solid #282828;
  height: 55px;
  vertical-align: middle;
  text-align: center;
}

td a {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}

.tracks .track:hover {
  background: #282828;
  cursor: pointer;
}

.tracks .track:last-child {
  border-bottom: 1px solid #282828;
}

.tracks .track-title {
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: center;
}

.tracks .track-title img {
  max-width: 40px;
}

.tracks .track-text {
  color: #aaa;
}


.tracks .track-button button {
  border-radius: 50%;
}

.delete {
  background: red;
  color: #fff;
  border: 1px solid red;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  text-transform: none;
  letter-spacing: 0px;
  padding: none;
}

.delete:hover {
  cursor: pointer;
  background: #df5252;
  transition: 0.5s;
}

.albums-head {
  border-bottom: 1px solid #282828;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.album-info {
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
}

.album-info-art img {
  width: 135px;
  height: 135px;
  overflow: hidden;
}

.album-info-art:hover .text-image-title {
  -webkit-opacity: 1;
  opacity: 1;
}
.text-image-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  font-weight: bold;
  width: 135px;
  height: 135px;
  left: 16px;
  padding: 50px 15px 0 15px;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.album-info-meta {
  width: calc(100% - 150px);
  margin-left: 15px;
  display: flex;
  flex-flow: column wrap;
  gap : 10px;
}

.album-info-meta button {
  width: 160px;
}

.album-info-meta .album-artist {
  color: #aaa;
  letter-spacing: 1px;
}

.album-info-meta .album-duration {
  color: #aaa;
  margin-bottom: 15px;
}

.album-info-meta .album-name {
  color: #fff;
  font-size: 30px;
  font-weight: 100;
}

.daftar-album-head {
  border-bottom: 1px solid #282828;
  margin-bottom: 10px;

  align-items: center;
  color: #fff;
}

.section-title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .album .tracks .track {
    height: auto;
    padding: 10px 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #373737;
}

@media (max-width: 650px) {
  .header .search {
    width: 65%;
    margin: 0;
  }

  .header .search input {
    width: 100%;
    background-size: 7%;
  }

  .header .user {
    width: 100%;
    margin-top: 15px;
    justify-content: space-around;
  }
}
.button-light {
  background: none;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
}
.button-light:hover {
  border-color: #fff;
  color: #fff;
}
.album-actions {
  margin-top: auto;
}
.save {
  padding-left: 22px;
  padding-right: 22px;
}
.album-actions .save:hover {
  border-color: #1ed760;
}
button {
  border-radius: 20px;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
}
button:hover {
  cursor: pointer;
}
.button-dark {
  background: #1ed760;
  color: #fff;
  border: 1px solid #1ed760;
}

.button-dark:hover {
  background: #43e57d;
}

input[type="submit"] {
  width: 120px;
  height: 30px;
  background: #1ed760;
  color: #fff;
  border: 1px solid #1ed760;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #43e57d;
  transition: 0.5s;
}

.set {
  padding: 10px 10px;
  display: flex;
  gap: 10px;
}

.delete-button {
  width: 120px;
  height: 30px;
  background: red;
  color: #fff;
  border: 1px solid red;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  text-transform: none;
  letter-spacing: 0px;
  padding: none;
}

.delete-button:hover {
  cursor: pointer;
  background: #df5252;
  transition: 0.5s;
}

.txt-field-grey {
  color: #aaa;
  width: 100%;
  font-size: 16px;
}

.txt-field-grey input {
  color: #aaa;
  width: 25%;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt-field-white{
  color: #fff;
  font-size: 30px;
}

.txt-field-white input {
  color: #fff;
  width: 25%;
  font-size: 30px;
  border: none;
  background: none;
  outline: none;
}

.input-file {
  padding: 10px 10px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  background: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  left: 15px;
  border-radius: 20px;
  font-weight: 700;
}
