body {
    background: #181818;
    font-family: sans-serif;
}

body a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background: #282828;
    padding: 10px;
    color: #aaa;
    border-bottom: 1px solid #181818;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.header .search {
    margin-left: 1%;
}


.header .search input {
    border-radius: 15px;
    border: none;
    background: #fff;
    color: #181818;
    padding-left: 30px;
    outline: none;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 5px;
    height: 30px;
}

.header .arrow {
    display: flex;
    gap: 10px;
    margin-left: 30px;

}

.header .user {
    width: 300px;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header .user i {
    font-size: 20px;
}

.header .user i:hover {
    color: #fff;
    cursor: pointer;
}

.header .user-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.user-info-name {
    display: inline-block;
    margin-left: 10px;
}