@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

* {
    /* Color pallette */
    --primary: #ffffff;
    --secondary: #a8a8a8;
    --bg-dark: #121212;
    --black: #000000;
    --dark-small: #181818;
    --bg-dark-light: #282828;
    --green: #1ed760;

    box-sizing: border-box;
    font-family: "circular std book", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary);
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(115deg, #101010 20%, #212121 80%); */
    background: var(--dark-small);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

#search-container {
    margin: 1em 0;
}
#search-container input {
    background-color: #2a2a2a;
    width: 40%;
    /* border-bottom: 2px solid #110f29; */
    padding: 1em 0.3em;
}
#search-container input:focus {
    border-bottom-color: #6759ff;
}
#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
}
.button-value {
    /* border: 2px solid #ffffff; */
    padding: 1em 2.2em;
    border-radius: 3em;
    /* background-color: transparent; */
    background-color: #232323;
    color: #ffffff;
    cursor: pointer;
}
.active {
    background-color: #ffffff;
    color: #000000;
}
#products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}
.card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
    text-align: center;
}
img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}
.container {
    padding-top: 1em;
    color: #110f29;
}
.container h5 {
    font-weight: 500;
}
.hide {
    display: none;
}
@media screen and (max-width: 720px) {
    img {
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card {
        max-width: 10em;
        margin-top: 1em;
    }
    #products {
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
}
